<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Elite Schedule</ion-title>
  </ion-navbar>
  <ion-toolbar color="secondary">
    <ion-title>My Teams</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="!favorites">
    <ion-card-header>
      No followed Teams
    </ion-card-header>
    <ion-card-content>
      <p>Your are not following nothing.</p>
      <button full ion-button (click)="goToTournaments()">
        <ion-icon name="search"></ion-icon>
        Find a Tournament
      </button>
    </ion-card-content>
  </ion-card>
  <ion-list *ngIf="favorites">
    <ion-list-header class="my-teams-header">Followed Teams</ion-list-header>
    <button ion-item *ngFor="let item of favorites" (click)="favoriteTapped($event, item)">
      <ion-icon name="star"></ion-icon>
      {{item.team.name}} 
      <p>{{item.team.tournamentName}}</p>
    </button>
  </ion-list>
  <p>To follow more teams, select a tournament, then you can follow teams from their team page.</p>
  <button full ion-button (click)="goToTournaments()">
    <ion-icon name="search"></ion-icon>
    Find a Tournament
  </button>
</ion-content>
